.node circle {
	  fill: #fff;
	    stroke: steelblue;
		  stroke-width: 1.5px;
}

.node {
	  font: 10px sans-serif;
}

.link {
	  fill: none;
	    stroke: #ccc;
		  stroke-width: 1.5px;
}

body {
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}

ul {
	-webkit-padding-start: 0px;
	padding-left: 50px;
	width: 100%;
}

canvas.pianoCanvas {
	cursor: pointer;
}

#menu {
	position: fixed;
	top: 0px;
	left: 0px;
	padding: 5px;
	z-index:1000;
	background: rgba(100,100,100,0.25);
	width: 100%;
}

#midi {
	padding-top:50px;
}

#application {
	padding-top: 50px;
}

#tick-indicator {
	display: inline-block;
	width: 1em;
	height: 1em;
	border: 1px solid rgb(151,170,201);
	border-radius: 3px;
}

#tick-indicator[on=true] {
	background: red;
}

#tick-indicator[on=false] {
	background: white;
}

#connection-status {
	display: inline-block;
	border: 1px solid rgb(120,120,120);
	border-radius: 0.25em;
	width: 1em;
	height: 1em;
	color: white;
	font-size: 0.25em;
	background: rgb(200,100,100);
}

#connection-status.connected {
	background: rgb(100,200,100);
}

#sync-mode {
	display: inline;
}

div.table {
	display:table;
	border-bottom: 1px solid rgb(100,100,100);
	border-right: 1px solid rgb(100,100,100);
}

div.table div.row {
	display:table-row;
}

div.table div.row div.cell {
	display:table-cell;
	border-top: 1px solid rgb(100,100,100);
	border-left: 1px solid rgb(100,100,100);
	padding:2px;
}

input {
	width: 5em;
}

input[type="range"] {
	width: 18em;
}

input[array] {
	width:18em;
}

input[type="submit"] {
	width:6em;
}

#nonsense {
	border-radius: 5px;
	background: rgb(240,240,240);
	width: 30em;
	padding: 3px;
	margin-top: 15px;
	color: rgb(220,220,220);
}
