<!DOCTYPE HTML>
<html>
	<head>
		<meta charset='utf-8'/>
		<title>see below</title>
		<script type="text/javascript" src="lib/jquery-1.8.0.js"></script>
		<script type="text/javascript" src="lib/underscore.js"></script>
		<script type="text/javascript" src="lib/backbone.js"></script>
		<script type="text/javascript" src="lib/jquery.knob.js"></script>
		<link rel="stylesheet" href="frontend.css" type="text/css" />
		<link rel="stylesheet" href="piano.css" type="text/css" />

	<script type="text/template" id="template-instrument">
		<div class="header">
			instrument:<%=name%>
			<button class="branch">+branch</button>
			<button class="emitter">+emitter</button>
		</div>
		<div class="widgets"></div>
		<div class="nodes"><ul class="nodes"></ul></div>
	</script>

	<script type="text/template" id="template-widget-rhythm">
		<div class="knobs">
			<div class="knob">
				<div class="label">pattern</div>
				<input class="knob-pattern"
					data-width="75"
					data-height="75"
					data-thickness=".5"
					data-cursor="true"
					data-displayInput="false">
			</div>
			<div class="knob">
				<div class="label">offset</div>
				<input class="knob-offset"
					data-width="75"
					data-height="75"
					data-thickness=".5"
					data-cursor="true"
					data-displayInput="false">
			</div>
		</div>
		<div class="fields">
			<div class="label">rhythm</div>
			<div class="field">
				<div class="label">steps</div>
				<input class="steps" placeholder="steps">
			</div>
			<div class="field">
				<div class="label">pulses</div>
				<input class="pulses" placeholder="pulses">
			</div>
			<div class="field">
				<div class="label">t/s</div>
				<input class="ticksPerStep" placeholder="ticksPerStep">
			</div>
			<div class="field">
				<div class="label">offset</div>
				<input class="offset" placeholder="offset">
			</div>
			<div class="field">
				<div class="label">retrigger</div>
				<input class="retrigger" type="checkbox">
			</div>
			<div class="field">
				<div class="label">p/i</div>
				<input class="rate" placeholder="rate">
			</div>
			<div class="field">
				<div class="label">delta</div>
				<input class="delta" placeholder="delta">
			</div>
		</div>
	</script>

	<script type="text/template" id="template-widget-lfsr">
		<div class="fields">
			<div class="label">LFSRWidgetLabelRequired</div>
			<div class="field">
				<div class="label">seed</div>
				<input class="seed" placeholder="seed"></input>
			</div>
			<div class="field">
				<div class="label">mask</div>
				<input class="mask" placeholder="mask"></input>
			</div>
			<div class="field">
				<div class="label">pool</div>
				<input class="pool" placeholder="pool"></input>
			</div>
			<div class="field">
				<div class="label">t/i</div>
				<input class="rate" placeholder="rate"></input>
			</div>
		</div>
	</script>

	<script type="text/template" id="template-widget-sequential">
		<div class="fields">
			<div class="label">SequentialWidgetLabelRequired</div>
			<div class="field">
				<div class="label">delta</div>
				<input class="delta" placeholder="delta"></input>
			</div>
			<div class="field">
				<div class="label">pool</div>
				<input class="pool" placeholder="pool"></input>
			</div>
			<div class="field">
				<div class="label">rate</div>
				<input class="rate" placeholder="rate"></input>
			</div>
		</div>
	</script>

    <script type="text/template" id="template-emitter">
		<div class="header">
			emitter:<%=name%>
			<select class="indexer"></select>
		</div>
		<div class="widgets">
			<div class="note"></div>
			<div class="channel"></div>
			<div class="duration"></div>
			<div class="onVelocity"></div>
			<div class="offVelocity"></div>
		</div> 
		<div class="piano"></div>
	</script>

	<script type="text/template" id="template-widget-piano">
		<ul class="pianokeys"></ul>
	</script>

	<script type="text/template" id="pianokey-template">
		<li class="pianokey <%= whiteblack %>"
			state="<%= state %>"
			note_number="<%= note_number %>">
		</li>
	</script>
	</head>
    
	<body>
		<div id="menu">
			<div id="tick-indicator" on=false></div>
			<div id="connection-status" class="waiting"></div>
			<div id="sync-mode">
				<input type="radio" name="sync_mode" value="external">external</input>
				<input type="radio" name="sync_mode" value="internal">internal</input>
				<input type="radio" name="sync_mode" value="stall">stall</input>
			</div>
			<button id="sync">sync</button>
			<button id="render">render</button>
			<button id="new">instrument</button>
		</div>
        <div>
		<ul id="content"></ul>
        </div>
		<div id="nonsense">project feelers w/ backbone 1960(c)(tm)(r)(xxx) !ENDEAYE!</div>
		<script type="text/javascript" src="utilities.js"></script>
		<script type="text/javascript" src="websocket.js"></script>
		<script type="text/javascript" src="widgets.js"></script>
		<script type="text/javascript" src="frontend.js"></script>
	</body>
</html>
