body {
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}

ul {
	-webkit-padding-start: 0px;
}

#menu {
	position: fixed;
	top: 0px;
	left: 0px;
	padding: 5px;
	z-index:1000;
	background: transparent;
	width: 100%;
}

#tick-indicator {
	display: inline-block;
	width: 1em;
	height: 1em;
	border: 1px solid rgb(151,170,201);
	border-radius: 3px;
}

#tick-indicator[on=true] {
	background: rgb(151,170,201);
}

#content {
	margin-top: 3em;
}

#connection-status {
	display: inline-block;
	border: 1px solid rgb(120,120,120);
	border-radius: 0.25em;
}

#connection-status.waiting {
	padding-left: 0.25em;
	padding-right: 0.25em;
	min-width: 1em;
	min-height: 0.5em;
}

#connection-status.connected {
	background: rgb(100,200,100);
	min-width: 1em;
	min-height: 0.5em;
	text-size: 1em;
}

#connection-status.disconnected {
	min-width: 3em;
	min-height: 3em;
	color: white;
	font-size: 0.25em;
	background: rgb(200,100,100);
}

#sync-mode {
	display: inline;
}

.dragOver {
	border: 1px solid black;
}

.instrument {
	border: 1px solid rgb(100,100,100);
	margin-bottom: 1em;
}

.widgets {
}

.controls {
	display: table;
}

.label {
	display: table-cell;
	vertical-align: middle;
}

.knobs {
	display: table-cell;
	vertical-align: middle;
}

.piano {
	display: table-cell;
	vertical-align: middle;
	padding-right: 30px;
}

.inputs {
	display: table-cell;
	vertical-align: middle;
}

li.node {
	border: 1px solid black;
}

div.name {
	display: inline-block;
	width: 5em;
}

input.retrigger {
}

input.steps {
	width: 2em;
}

input.pulses {
	width: 2em;
}

input.ticksPerStep {
	width: 2em;
}

input.offset {
	width: 2em;
}

input.seed {
	width: 2em;
}

input.mask {
	width: 2em;
}

input.pool {
	width: 4em;
}

#nonsense {
	border-radius: 5px;
	background: rgb(240,240,240);
	width: 30em;
	padding: 3px;
	margin-top: 15px;
	color: rgb(220,220,220);
}
