<!DOCTYPE HTML>
<html>
	<head>
		<meta charset='utf-8'/>
		<title>see below</title>
		<script type="text/javascript" src="lib/jquery-1.8.0.min.js"></script>
		<script type="text/javascript" src="lib/underscore-min.js"></script>
		<script type="text/javascript" src="lib/backbone-min.js"></script>
		<link rel="stylesheet" href="frontend.css" type="text/css" />
		<link rel="stylesheet" href="piano.css" type="text/css" />

	<script type="text/template" id="instrument-template">
		<div>instrument</div>
		<button class="branch">branch</button>
		<button class="emitter">emitter</button>
		<input class="steps" placeholder="steps"></input>
		<input class="pulses" placeholder="pulses"></input>
		<button class="rhythmUp">+</button>
		<button class="rhythmDown">-</button>
		<input class="pulsesPerStep" placeholder="pulsesPerStep"></input>
        <ul class="nodes"></ul>
	</script>

	<script type="text/template" id="node-template">
        <div class="name">node</div>
        <ul class="pool"></ul>
    </script>
	
	<script type="text/template" id="lfsr-template">
		<div class="name"></div>
		<input class="seed" placeholder="seed"></input>
		<input class="mask" placeholder="mask"></input>
		<input class="pool" placeholder="pool"></input>
	</script>

	<script type="text/template" id="sequential-template">
		<div class="name"></div>
		<input class="step" placeholder="step"></input>
		<input class="pool" placeholder="pool"></input>
	</script>

    <script type="text/template" id="emitter-template">
        <div>emitter</div>
		<select class="indexer"></select>
		<div class="note"></div>
		<div class="channel"></div>
		<div class="duration"></div>
        <div class="onVelocity"></div>
        <div class="offVelocity"></div>
		<div class="piano"></div>
	</script>

	<script type="text/template" id="pianoboard-template">
		<ul class="pianokeys"></ul>
	</script>

	<script type="text/template" id="pianokey-template">
		<li class="pianokey <%= whiteblack %>"
			state="<%= state %>"
			note_number="<%= note_number %>">
		</li>
	</script>
	</head>
    
	<body>
		<div id="menu">
			<div id="tick-indicator" on=false></div>
			<div id="connection-status" class="waiting"></div>
			<div id="sync-mode">
				<input type="radio" name="sync_mode" value="external">external</input>
				<input type="radio" name="sync_mode" value="internal">internal</input>
				<input type="radio" name="sync_mode" value="stall">stall</input>
			</div>
			<button id="sync">sync</button>
			<button id="render">render</button>
		</div>
        <div>
		<ul id="content"></ul>
        </div>
		<button id="new">new</button>
		<div id="nonsense">project feelers w/ backbone 1960(c)(tm)(r)(xxx) !ENDEAYE!</div>
		<script type="text/javascript" src="utilities.js"></script>
		<script type="text/javascript" src="websocket.js"></script>
		<script type="text/javascript" src="indexers.js"></script>
		<script type="text/javascript" src="frontend.js"></script>
	</body>
</html>
