<!doctype html>
<html ng-app="frontend">
<head>
	<script src="lib/angular.js"></script>
	<script src="lib/underscore.js"></script>
	<script src="utilities.js"></script>
	<script src="websocket.js"></script>
	<script src="frontend.js"></script>
	<link rel="stylesheet" href="frontend.css">
</head>
<body>
	<div ng-controller="AppControl" id="menu">
		<div id="tick-indicator" on=false></div>
		<div id="connection-status" ng-class="{connected:isSocketConnected()}"></div>
		<button id="sync">sync</button>
		<button id="get-last-sync">get-last-sync</button>
		<button id="render">render</button>
	</div>
	<div ng-controller="NodeCtrl" id="application">
		<button ng-click="publish()">publish</button>
		<button ng-click="addRoot()">+root</button>
		<button ng-click="addNode()">+branch</button>
		<button ng-click="addEmitter()">+emitter</button>
		<ul class="unstyled">
			<li ng-repeat="node in nodes">
				<span>{{node.type}}:{{node.name}}</span>
				<ng-switch on="node.type">
					<div ng-switch-when="root">
						<button ng-click="addNewNodeTo(node)" >+branch</button>
						<button ng-click="addNewEmitterTo(node)" >+emitter</button>
						<rhythm ng-model="node.parameters.rhythm"></rhythm>
						<ul class="unstyled">
							<li ng-repeat="nodeName in node.pool">{{nodeName}}</li>
						</ul>                     
					</div>
					<div ng-switch-when="branch">
						<button ng-click="addNewNodeTo(node)" >+branch</button>
						<button ng-click="addNewEmitterTo(node)" >+emitter</button>
						<rhythm ng-model="node.parameters.rhythm"></rhythm>
						<ul class="unstyled">
							<li ng-repeat="nodeName in node.pool">{{nodeName}}</li>
						</ul>                     
					</div>
					<div ng-switch-when="emitter">
						<rhythm ng-model="node.parameters.rhythm"></rhythm>
						<select ng-model="node.parameters.indexer" ng-options="indexer for indexer in indexerTypes"></select>
						<div>
							<piano ng-model="node.parameters.note.pool">
						</div>
						<div class="table">
							<div class="row">
								<div class="cell">field</div>
								<div class="cell">seed</div>
								<div class="cell">mask</div>
								<div class="cell">pool</div>
							</div>
							<div class="row">
								<div class="cell">note</div>
								<div class="cell"><input type="number" ng-model="node.parameters.note.seed"></div>
								<div class="cell"><input type="number" ng-model="node.parameters.note.mask"></div>
								<div class="cell"><input array ng-model="node.parameters.note.pool"></div>
							</div>
							<div class="row">
								<div class="cell">channel</div>
								<div class="cell"><input type="number" ng-model="node.parameters.channel.seed"></div>
								<div class="cell"><input type="number" ng-model="node.parameters.channel.mask"></div>
								<div class="cell"><input array ng-model="node.parameters.channel.pool"></div>
							</div>
							<div class="row">
								<div class="cell">onVelocity</div>
								<div class="cell"><input type="number" ng-model="node.parameters.onVelocity.seed"></div>
								<div class="cell"><input type="number" ng-model="node.parameters.onVelocity.mask"></div>
								<div class="cell"><input array ng-model="node.parameters.onVelocity.pool"></div>
							</div>
							<div class="row">
								<div class="cell">offVelocity</div>
								<div class="cell"><input type="number" ng-model="node.parameters.offVelocity.seed"></div>
								<div class="cell"><input type="number" ng-model="node.parameters.offVelocity.mask"></div>
								<div class="cell"><input array ng-model="node.parameters.offVelocity.pool"></div>
							</div>
							<div class="row">
								<div class="cell">duration</div>
								<div class="cell"><input type="number" ng-model="node.parameters.duration.seed"></div>
								<div class="cell"><input type="number" ng-model="node.parameters.duration.mask"></div>
								<div class="cell"><input array ng-model="node.parameters.duration.pool"></div>
							</div>
						</div>
					</div>
					<div ng-switch-default>
						unknown type
					</div>
				</ng-switch>
			</li>
		</ul>
	</div>
	<div id="nonsense">project feelers w/ angularjs 1988(c)(tm)(r)(xXx) !URUNDERANNDA!</div>
</body>
</html>
