body {
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}

ul {
	-webkit-padding-start: 0px;
	padding-left: 50px;
	width: 100%;
}

#menu {
	position: fixed;
	top: 0px;
	left: 0px;
	padding: 5px;
	z-index:1000;
	background: transparent;
	width: 100%;
}

#tick-indicator {
	display: inline-block;
	width: 1em;
	height: 1em;
	border: 1px solid rgb(151,170,201);
	border-radius: 3px;
}

#tick-indicator[on=true] {
	background: red;
}

#tick-indicator[on=false] {
	background: white;
}

div.emitter {
	border: 1px solid black;
}

div.emitter[on=true] {
	-webkit-animation-duration: 0.25s;
    -webkit-animation-name: border-down;
}

@-webkit-keyframes border-down {     
	  from {
		border-radius: 25px;
		}
	  to {
		border-radius: 0px;
	 }
}

div.emitter[on=false] {
	-webkit-animation-duration: 0.25s;
    -webkit-animation-name: border-up;
}

@-webkit-keyframes border-up {     
	  from {
		border-radius: 25px;
		}
	  to {
		border-radius: 0px;
	 }
}                           

#content {
	margin-top: 3em;
}

#connection-status {
	display: inline-block;
	border: 1px solid rgb(120,120,120);
	border-radius: 0.25em;
}

#connection-status.waiting {
	padding-left: 0.25em;
	padding-right: 0.25em;
	min-width: 1em;
	min-height: 0.5em;
}

#connection-status.connected {
	background: rgb(100,200,100);
	min-width: 1em;
	min-height: 0.5em;
	text-size: 1em;
}

#connection-status.disconnected {
	min-width: 3em;
	min-height: 3em;
	color: white;
	font-size: 0.25em;
	background: rgb(200,100,100);
}

#sync-mode {
	display: inline;
}

.dragOver {
	border: 1px solid black;
}

.branch {
	margin-bottom: 1em;
}

.widgets {
	display: table;
}

.widget {
	display: table-cell;
	padding: 1px;
}

.knobs {
	display: table-cell;
	vertical-align: middle;
}

.knob {
	display: inline-block;
}

.label {
	display: block;
	text-align: center;
}

.fields {
	display: table-cell;
	vertical-align: middle;
	background: rgb(190,190,190);
}

.fields > .label {
	background: rgb(200,200,200);
}

.field {
	display: inline-block;
}

.field > .label {
	display: block;
}

.field > input {
	width: 3em;
}

.piano {
	width: 740px;
	display: table-cell;
	vertical-align: middle;
}

.node.widget {
	border: 1px solid rgb(200,200,200);
	cursor: pointer;
}

.node.widget:hover {
	border: 1px solid rgb(100,100,100);
	background: black;
	color: white;
}

#nonsense {
	border-radius: 5px;
	background: rgb(240,240,240);
	width: 30em;
	padding: 3px;
	margin-top: 15px;
	color: rgb(220,220,220);
}
