ul.pianokeys {
	margin-top: 1px;
	list-style-type: none;
	overflow: hidden;
	padding: 0;
}

ul.pianokeys:first-child {
	border-left: 1px solid rgb(120,120,120);
	border-bottom-left-radius: 5px;
}

ul.pianokeys:last-child {
	border-bottom-right-radius: 5px;
}

li.pianokey {
	width: 1.5em;
	height: 40px;
	float: left;
	border-top: 1px solid rgb(120,120,120);
	position: relative;
	cursor: pointer;
}

li.pianokey.white {
	border-right: 1px solid rgb(120,120,120);
	border-bottom: 1px solid rgb(200,200,200);
	margin-left: -4px;
	z-index:10;
}

li.pianokey.white:hover {
	background: rgb(100,100,100);
}

li.pianokey.white.down {
	background: rgb(80,80,80);
}

li.pianokey.white[state="on"] {
	background: rgb(100,150,150);
}

li.pianokey.black {
	height: 25px;
	width: 1.25em;
	margin-top: 1px;
	margin-left:-10px;
	margin-right:-12px;
	border-right: 1px solid rgb(120,120,120);
	border-bottom: 1px solid rgb(100,100,100);
	background: rgb(190,190,190);
	z-index:20;
	border-top: none;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

li.pianokey.black:hover {
	background: rgb(100,100,100);
}

li.pianokey.black.down {
	background: rgb(80,80,80);
}

li.pianokey.black[state="on"] {
	background: rgb(100,150,150);
}
